body {
    font-family: 'Roboto', Arial;
    /* charged from "Roboto" to 'Roboto'. Always use single ticks */
}

.logo {
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-left: 150px;
    font-weight: 900;
}

.links {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 150px;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: 'Roboto';
    display: flex;
    justify-content: space-between;
    margin: -10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:  #d1d1d1;
}

.section-one {
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: 'Roboto';
    height: 400px;
    width: 101vw;
    margin: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.item-one,
.item-two {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 150px;
}

.item-two {
    background-color: gray;
    align-items: center;
    justify-content: center;
}
